@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinSlot {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

.animate-spin-slot {
  animation: spinSlot 3s ease-in-out;
}
